﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-10">
        <p></p>
        Welcome to the IT-700 Capstone Project. This application will utilize your current location via GPS to determine the closest
        opiate addiction counselor or treatment center. The goal is to provide quick and easy access to help for those who suffer from
        addiction to drugs and/or alcohol.
        <p></p>
        If you are a counselor or treatment center official and are interested in providing online help or your number as a hotline please contact the site administrator at <a href="mailto:christopher.fry@snhu.edu">Administrator</a>
        <br/>
        <br/>
        <h2>Hotlines</h2>
        <table style="width: 50%;">
            <thead>
            <tr>
                <td><b>Phone Number</b></td>
                <td><b>Topic</b></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1-800-273-8255</td>
                <td>Suicide Prevention</td>
            </tr>
            <tr>
                <td>&nbsp;
                </td>
                <td></td>
            </tr>
            <tr>
                <td>1-866-293-7031</td>
                <td>Opiate and other drugs</td>
            </tr>
            </tbody>
        </table>
        <br/><br/>
        @Html.ActionLink("FIND HELP NOW", "FindHelp", "Home", null,new { @class="btn btn-default"})
    </div>
</div>
